<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.vu.hospital.mybatis.dao.HospitalMapper">
  <resultMap id="BaseResultMap" type="com.lt.vu.hospital.mybatis.Hospital">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PUBLIC.HOSPITAL
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.lt.vu.hospital.mybatis.Hospital" useGeneratedKeys="true">
    insert into PUBLIC.HOSPITAL (ADDRESS, TITLE)
    values (#{address,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lt.vu.hospital.mybatis.Hospital">
    update PUBLIC.HOSPITAL
    set ADDRESS = #{address,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select ID, ADDRESS, TITLE
    from PUBLIC.HOSPITAL
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, ADDRESS, TITLE
    from PUBLIC.HOSPITAL
  </select>
</mapper>